
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

$heading_primary_font:'Lobster', cursive;
$heading_secondary_font: 'Questrial', sans-serif;



$primary_font_color: #94447C;
