@import "vendor/normalize";
@import 'partials/variables';

@media (min-width: 768px){}

@media (min-width: 1024px){}

body {
    background-image: url("../assets/images/landscapewood1024.jpg");
}

h1 {
    color: $primary_font_color;
    font-family: $heading_primary_font;
    }

h2 {
    color: black;
    font-family: $heading_secondary_font;
}

p {
    color: $primary_font_color;
    }

footer {
    color: $primary_font_color;
}

.main-hero {
    min-height: 62vh;
    background-image: url("../assets/images/pink donuts360px.png");
}

.main-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header {
    margin-bottom: 100px;
    text-align: center;
}

.navbar-custom {
    background-color: $primary_font_color;
}

.blueheader {
    display: flex;
    height: 50px;
    width: 50%;
    background-color: $blue_color;
    justify-content: center;
    align-items: center;

    &:hover {
    width: 100%;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
}

.menu_images {
    display: grid;
    grid-template-rows: 125px 125px;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 1px;
}

.cupcakes {
    grid-column: 1 / 3;
}
.circle-cell {
    grid-column: 3 / 5;
    text-align: center;
    //justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-text {
    background-color:$blue_color;
    border-radius: 50%;
    height: 125px;
    width: 125px;

    &:hover {
        transform: scale(2);
        transition: transform 2s ease-in;
    }
}

.circle-text{
    // display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
}

.location {
    display: flex;
    margin-top: 15px;
    height: 50px;
    width: 50%;
    background-color: $pink_color;
    justify-content: center;
    align-items: center;

    &:hover {
        width: 100%;
        transition-property: width;
        transition-duration: 1s;
        transition-timing-function: ease-in;
    }
}
.location-content {
    display: grid;
   // background-image: url("..assets/images/background300.jpg");
    grid-template-rows: 400px;
    grid-template-columns: repeat (2, 1fr);
    grid-column-gap: 1px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.location-bg {
    background-image: url("..assets/images/background300.jpg");
}

.square-text { 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:$blue_color;
    height: 375px;
    width: 300px;
}

.square-text {
    display: grid;
    grid-template-rows: auto;
    padding: 50px; 
}

.square-cell {
    display: flex;
  
    text-align: center;
    justify-content: center;
    align-items: center;
}

.to-go {
    display: flex;
    height: 50px;
    width: 50%;
    background-color: $blue_color;
    justify-content: center;
    align-items: center;

    &:hover {
    width: 100%;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
}

.to-go-content {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.to-go-text {
    display: flex;    
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.to-go-cell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.layout {
    display: flex;
    align-items: center;
}

.about-us {
    display: flex;
    margin-top: 15px;
    height: 50px;
    width: 50%;
    background-color: $pink_color;
    justify-content: center;
    align-items: center;

    &:hover {
        width: 100%;
        transition-property: width;
        transition-duration: 1s;
        transition-timing-function: ease-in;
    }
}

.about-us-content {
    display: grid;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

.contact-us {
    display: flex;
    height: 50px;
    width: 50%;
    background-color: $blue_color;
    justify-content: center;
    align-items: center;

    &:hover {
    width: 100%;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    }
}

.btn {
    background-color: $primary_font_color;
}